.details-section {
  width: 30%;
  max-width: 350px;
  min-width: 250px;
  background-color: hsl(230, 15%, 16%);
  padding: 16px;
  height: 77.5vh;
  border-radius: 15px;
  color: white;
  overflow-x: hidden;
 }
 .primary-container, .channel-list-container, .archive-container {
  width: 100%; 
}
 
.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
 }

 
 .add-channel-icon  {
  width: 32px;
  height: auto;
  cursor: pointer;
 }

 
 .add-channel-icon.hidden {
  opacity: 0;
  pointer-events: none; 
}

.add-channel-icon.visible {
  opacity: 1;
}

 .details-section h3 {
  text-align: left;
 }

 .tabs {
  
  display: flex;
  justify-content: center;
  background-color: hsl(230, 10%, 20%);
  border-radius: 5px;
  margin: 8px 0;
  padding: 0px 5px;
 }

 .tabs button {
  flex: 1 1 auto;
  margin: 6px 3px;
  padding: 5px 3px;
  border: none;
  background-color: transparent;
  color: hsla(0, 9%, 76%, 0.664);
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
 }

 .tabs button:hover {
  background-color: hsla(0, 0%, 90%, 0.2);
  transition: 0.3s ease;
  padding: 5px 3px;
 }

 .channel-list-container {
  max-height: 350px;
  overflow-y:auto; 
  overflow-x: hidden;
  word-wrap: break-word; 
  scrollbar-width: thin; 
  scrollbar-color: #888 transparent;
}

.primary-container ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 12px;
  max-height: 370px;
  overflow-y: auto;
  
  scrollbar-width: thin; 
  scrollbar-color: #888 transparent;
}

.primary-container ul::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.primary-container ul::-webkit-scrollbar-track {
  background: #494c55; /* Match the background color */
  border-radius: 10px; /* Round corners of the track */
}

.primary-container ul::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners of the thumb */
}

.primary-container ul::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}
.message-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #494c55;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid hsl(0, 0%, 50%);
  user-select: none;
  cursor: pointer;
}

.message-item:hover {
  background-color: hsl(225, 8%, 25%);
}

.archive-container h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
  animation: blur-in 0.5s ease forwards;
}

@keyframes blur-in {
  0% {
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0); 
  }
  100% {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5); 
  }
}

