.details-section {
    width: 30%;
    background-color:  #23252f;
    /* border-left: 1px solid #ddd; */
    padding: 16px;
    /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); */
    height: 77.5vh;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: white;
 }
  
#logo {
  width: 120px;
  margin-top: 15px;
  border-radius: 10px;
}

.details-section p {
  text-align: center;
  margin-top: 10px;
}