.chat-header {
    padding: 10px;
    background-color: #23252f;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.chat-header span{
    margin-right: 8px;
}

.chat-header span img {
    width: 40px;
    background-color: #888;
    border-radius: 45px;
    padding: 2px;
    /* border: 1px solid black; */
}