.chat-header {
    padding: 10px;
    background-color: #23252f;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logout-container{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 5px;
margin-right: 8px;
}

.chat-header span{
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.chat-header span img {
    width: 40px;
    background-color: #888;
    border-radius: 45px;
    padding: 2px;
    /* border: 1px solid black; */
}

.chat-header span h2 {
    user-select: none;
}

.logout {
width: 32px;
height: auto;
margin-right: 5px;
  }

.logout-container {
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.logout-container:hover {
    color:hsla(0, 0%, 96%, 0.9);
}

.logout-container h4 {
    user-select: none;
}
