
#icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 8px;
}

.channels {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.channel-list-item {
    padding: 8px;
    margin-bottom: 8px;
    background-color: gray;
    border-radius: 4px;
    cursor: pointer;
    width: 180px;
    user-select: none;
}
.add-channel-icon {
   cursor: pointer;
   margin-left: 5px;
   margin-top: 7px;
}
.remove-channel-icon {
    cursor: pointer;
    margin-top: 3px;
    margin-right: 5px;
    color: hsla(0, 0%, 50%, 0.0);
}

.remove-channel-icon:hover {
    transition: color 0.3s ease;
    color: hsla(0, 0%, 50%, 0.7);
}

.channels ul li {
    list-style: none;
    padding: 8px;
}

.channels ul {
    padding: 16px;
}


