* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
    color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #f4f4f4;
  --sidebar-bg: #81d4fa;
  --text-color: #4e342e;
  --secondary-bg: #ffe082;
  --bubble-sender: #fffbea;
  --bubble-receiver: #e3f2fd;
  --card-bg: #ffffff;
  --success-color: #8bc34a;
  --border-color: #ddd;
}

